.section3{
    background-color: $purplelight;
    padding: 50px 0px;
    p:nth-child(1){
        color: $purple;
        padding:10px 10px 10px 10px;
        font-size: $Size20;
        font-family: $Lato;
       
        text-align: center;

    }
    h2{
        text-align: center;
    }
    
}