.section1{
    display: flex;
    align-items: center;
    background: url(../img/background-we-are.png) no-repeat right; 
  
    article:nth-child(1){
        margin: $marginSection;
        width: 50%;

        img{
            width: 90%;
        }

    }
    article:nth-child(2){
        
        width: 50%;
        
       

        p:nth-child(1){
            color: $purple;
            padding: $paddingtitle;
            font-size: $Size20;
            font-family: $Lato;
            margin-bottom: 0px;
            width: 30%;

        }
         p{
             width: 70%;
             font-size: $Size12;
             font-family: $Poppins;
             color: $greylight;
             font-weight: $light;
             margin-bottom: 30px;
         }
        
    }
}