.blocInfo {

    display: flex;
    margin: auto;


    .info {
        background-color: $white;
        border-radius: 36px;
        box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.2);
        width: 30%;
        padding: 50px 10px 10px 10px;
        margin: 30px auto;


        img {
           
            margin: auto;
            display: flex;

        }


        h4{
            font-size: $Size15;
            font-family: $Poppins;
            color: $grey;

            padding: 30px 30px 0px 30px;

        }

        p {
            width: 100%;
            font-family: $Lato;
            font-size: $Size12;
            color: $grey;
            padding: 30px;
        }

        
    }
}