// ---------------------- PADDING--------
$s: 2%;
$xl: 5%;
$xxl: 15%;
$paddingtitle: 5px 0px;
$paddingP: 50px 70px;

// ------------------------ MARGIN -----------------------
$marginLogo: 0px 15px 0px 180px;
$marginSection: 100px 50px;

// ------------------------ FRONT -----------------------
$Dosis: 'Dosis', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Lobster: 'Lobster', cursive;
$Lato: 'Lato', sans-serif;

// ------------------------ FRONT SIZE -----------------------
$Size40: 40px;
$Size12: 12px;
$Size18: 18px;
$Size15: 15px;
$Size50: 50px;
$Size20: 20px;
$Size25: 25px;
$Size30: 30px;

//---------------FONT STYLE-----------

$bold: bold;
$menu: 500;
$titreInfo: 600;
$light: lighter;

//----------------------------COLOR----------
$white: white;
$grey: #42495b;
$greywhite: #f6f7fb;
$greytext:#999999;
$greylight: #7a839e;
$degrade: linear-gradient(to left, #6156f9, #1a129f);
$bleu: #1a129f;
$bleufonce: #1000ff;
$purple: #7e76f9;
$purplelight: rgba(126, 118, 249, 0.15);